.button {
  background-color: #171a20cc;
  height: 40px;
  width: 256px;
  margin: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100px;
}

.button > a {
  text-emphasis: none;
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin: 0 auto;
}

.button__white {
  background-color: white;
  opacity: 0.65;
}

.button__white > a {
  color: black;
}
